<html>
    <head>
        <title>Manager Dashboard</title>
    </head>
    <body>
        <h1>Manager Dashboard</h1>
        <br>
        <a href="">Financial Goals</a>
        <a href="">Profit/Loss Analysis</a>
        <a href="">Expense Approval</a>
        <br>

        <table>
            <ul>
                <a href=""><li>Manage Goals</li></a>
                <a href=""><li>Profit/Loss Analysis</li></a>
                <a href=""><li>Expense Approval</li></a>
            </ul>
        </table>
        <br>

        <h2>Manage Financial Goals</h2> <br>
            Goal Title: 
            <input type="text" name="" value="">

        Description:
        <textarea></textarea>

        Target amount:
        <input type="text" name="" value="">

        Deadline: 
        <input type="date" name="" value="">

        <input type="submit" name="" value="Add Goal">
        <br>

        <h2>Existing Goals</h2> <br>
        
         <fieldset>
        <table>
            <tr>
                <td><b>Goal</b></td>
                &nbsp;&nbsp;<td><b>Description</b></td>
                &nbsp;&nbsp;<td><b>Progress</b></td>
                &nbsp;&nbsp;<td><b>Deadline</b></td>
            </tr>
        </table>
            </fieldset> <br>


            <h2>Profit/Loss Analysis</h2> <br>
        <!--profit and loss  data will be displayed here-->

        
        <h2>Approve Major Expense</h2> <br>
        <fieldset>
            <table>
                <tr>
                    <td><b>Expense ID</b></td>
                    &nbsp;&nbsp;<td><b>Description</b></td>
                    &nbsp;&nbsp;<td><b>Amount</b></td>
                    &nbsp;&nbsp;<td><b>Status</b></td>
                    &nbsp;&nbsp;<td><b>Action</b></td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Office Supplies</td>
                    <td>$500</td>
                    <td>Pending</td> 
                    <td>Pending</td> 
                    <td>
                        <input type="submit" name="" value="Approve">
                        <input type="submit" name="" value="Reject">

                    </td> 


                </tr>
            </table>
                </fieldset> <br>
         

        
           
    </body>
</html>